@import 'variables';

:host {
  width: 100%;
}

.divider-dash {
  border: 0;
  border-top: 1px dashed #CCC;
}

.home {
  height: 100vh;
  background-color: $light-grey;
  padding: 1rem;
  @media (max-width: $lg) {
    height: calc(100vh - 117px);
    background-color: $white;
  }
  @supports (-webkit-touch-callout: none) {
    height: calc(100vh - 160px);

    @media only screen and (-webkit-device-pixel-ratio: 2) {
      padding-top: 10px !important;
    }

    @media only screen and (min-device-width: 420px) and (-webkit-device-pixel-ratio: 3) {
      height: calc(100vh - 200px);
    }
  }
  @media (max-width: $lg) {
    padding: 1rem 0;
  }
  .carousel {
    @media (max-width: $lg) {
      margin-bottom: 25px !important;
    }
  }
  .title {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2rem;
  }

  .subtitle {
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 1rem;
  }
  .client {
    font-weight: bold;
    font-size: 1.6rem;

    margin-bottom: 1rem;
  }
  .link-button {
    font-size: 1.3rem;
    line-height: 2rem;
    cursor: pointer;
    svg {
      color: $red;
      width: 1.5rem;
    }
  }
  .hello {
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 2.4rem;
  }
  .hello-address {
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.4rem;
  }
  .widgets {
    div {
      @media (max-width: $lg) {
        margin-bottom: 1rem;
      }
    }
  }
}

app-ka-consent-footer {
  position: fixed;
  bottom: 0;
  width: 62%;
  @media (max-width: $xl) {
    width: 55%;
  }
  @media (max-width: $lg) {
    width: 100%;
    bottom: 64px;
  }
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-form-field {
  width: 20rem;
  font-size: inherit;
  font-weight: 400;
  line-height: 2.125;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
}

.mat-form-field  {
  /* border-style: solid; */
  border: 1px solid darkgray !important;
  background: #fff !important;
  box-shadow: 0px 0px 0px #eee !important;
  color: $black !important;
  border-radius: 5px;
  width: 50rem;
  max-width: 550rem;
  height: 4rem;
  /* left: -11px; */
}

.max-width {
  width: 100rem !important;
}


.min-width {
  width: 33rem !important;
}

.form-group {
  margin-bottom: 2rem;
}

.label {    
  font-weight: bolder;
  font-size: 1.4rem;
  padding: 5px;

}

.btn-new-order {
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}


table {
  width: 100%;
}

tr.ak-detail-row {
  height: 0;
}

.example-full-width {
  width: 80%;
}

td {
  padding-right: 8px;
}

tr.ka-element-row:not(.ak-expanded-row):hover {
  background: whitesmoke;
}

tr.ka-element-row:not(.ka-expanded-row):active {
  background: #efefef;
}

.ka-element-row td {
  border-bottom-width: 0;
}

.ka-element-detail {
  overflow: hidden;
  display: flex;
}

.ka-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.ka-detail-row {
  height: 0;
  padding: 1.5rem;
  line-height: 2.2rem;
  border: none;
}

.ka-element-description {
  padding: 16px;
}